<ion-searchbar (ionInput)="getSmileys($event)"></ion-searchbar>
<span *ngIf="smileys">
    <button *ngIf="smileys.page != 1" ion-button icon-left small style="float: left;" (click)="getPreviousSmileyPage(smileys.page)">
        <ion-icon name="arrow-back" ></ion-icon>
        Forrige side
    </button>
    <ion-label style="float: left;"> Side: {{ smileys.page }} av {{ smileys.pages }} </ion-label>
    <button *ngIf="smileys.page != smileys.pages" ion-button icon-right small style="float: left;" (click)="getNextSmileyPage(smileys.page)">
        Neste side
        <ion-icon name="arrow-forward" ></ion-icon>
    </button>
</span>
<ion-list no-lines *ngIf="smileys">
    <ion-item *ngFor="let thingy of smileys.entries" (click)="onSelect(thingy)">
        <ion-card>

            <ion-card-header>{{ thingy.navn }}</ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item> {{ thingy.dato}}</ion-item>
                    <ion-item>
                        <div *ngIf="thingy.total_karakter == 0"><i class="material-icons">sentiment_very_satisfied</i></div>
                        <div *ngIf="thingy.total_karakter == 1"><i class="material-icons">sentiment_very_satisfied</i></div>
                        <div *ngIf="thingy.total_karakter == 2"><i class="material-icons">sentiment_neutral</i></div>
                        <div *ngIf="thingy.total_karakter == 3"><i class="material-icons">sentiment_neutral</i></div>
                        <div *ngIf="thingy.total_karakter == 4"><i class="material-icons">sentiment_dissatisfied</i></div>
                        <div *ngIf="thingy.total_karakter == 5"><i class="material-icons">sentiment_dissatisfied</i></div>
                    </ion-item>
                    <ion-item>{{ thingy.adrlinje1 }}</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-item>
</ion-list>
<span *ngIf="smileys">
    <button *ngIf="smileys.page != 1" ion-button icon-left small style="float: left;" (click)="getPreviousSmileyPage(smileys.page)">
        <ion-icon name="arrow-back" ></ion-icon>
        Forrige side
    </button>
    <ion-label style="float: left;"> Side: {{ smileys.page }} av {{ smileys.pages }} </ion-label>
    <button *ngIf="smileys.page != smileys.pages" ion-button icon-right small style="float: left;" (click)="getNextSmileyPage(smileys.page)">
        Neste side
        <ion-icon name="arrow-forward" ></ion-icon>
    </button>
</span>
